<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <a href="projects/apm/index.html">Product Management Project</a>
          </h3><!-- /.card-title -->

          <div class="card-text project-summary">
            Angular Single Page App that allows a user to view a list of products, filter a product list, and view a selected product's details. Behind the scenes the Angular App uses multiple Angular Feature Modules, one Shared Module, multiple Angular Components, an Angular Service, RxJS, and Observables to communicate with a JSON file that contains a list of products. A user can navigate between multiple component views. The Angular Router is configured to use multiple routes and one route guard. The ProductDetailComponent route has a route guard that prevents a user from navigating from the ProductListComponent to the ProductDetailComponent if the product that is defined as a route parameter is not greater than zero or is not a number.
          </div><!-- /.card-text project-summary -->
        </div><!-- /.card-header -->

        <div class="card-body">
          <ul class="list-group list-group-flush project-technology">
            <li class="list-group-item">
              Angular 10, Bootstrap 4, Font-Awesome, Angular Components, Angular Services, Angular Router, RxJS, Observables, JSON, 2-Way Data Binding, Property Binding, Event Binding, TypeScript, Interfaces, Angular CLI, node.js, npm
            </li>
          </ul>
        </div><!-- /.card-body -->
      </div><!-- /.card -->
    </div><!-- /.col-xs-12 -->
  </div><!-- /.row -->
</div><!-- /.container -->