<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <a href="projects/apm/index.html">Github Web API Project</a>
          </h3><!-- /.card-title -->

          <div class="card-text project-summary">
            Angular Single Page App that allows a user to enter a product name and filter a product list.  Allows a user to navigate between views. Behind the scenes the Angular App uses multiple Angular Modules, multiple Angular Components, Angular Service, RxJS, and Observables to communicate with a JSON file that contains a list of products. Multiple routes are defined. The ProductDetailComponent route has a route guard that prevents a user from navigating from the ProductListComponent to the ProductDetailComponent if the product that is defined as a route parameter is not greater than zero or is not a number.
          </div><!-- /.card-text project-summary -->
        </div><!-- /.card-header -->

        <div class="card-body">
          <ul class="list-group list-group-flush project-technology">
            <li class="list-group-item">
              Angular, Angular Components, Angular Services, Angular Router, RxJS, Observables, JSON, Angular 2-Way Data Binding, Angular CLI, TypeScript, Interfaces, node.js, npm, Bootstrap 4, Font-Awesome, SCSS
            </li>
          </ul>
        </div><!-- /.card-body -->
      </div><!-- /.card -->
    </div><!-- /.col-xs-12 -->
  </div><!-- /.row -->
</div><!-- /.container -->