<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <a href="projects/firebase-authentication/index.html">Firebase Authentication Service Project</a>
          </h3><!-- /.card-title -->

          <div class="card-text project-summary">
            Angular Single Page App that uses the Firebase Authentication Service to allow a user to login to an Angular App using their Google User Account Credentials. To login to the Angular App a user must first click the Login Button and then enter their Google Account Email and Google Account Password. An Angular Service calls the Firebase Authentication Service to authenticate the Google User Account Credentials. If a user has successfully been authenticated, the Angular Router will navigate the user to the HomeComponent. If a user has not been authenticated, the Angular Router will navigate the user to the LoginComponent. Once a user has been authenticatetd, a user can click the Logout Button inside the HomeComponent HTML Template to logout of the Angular App. When a user is logged out, the Angular Router will navigate the user to the LoginComponent.
          </div><!-- /.card-text project-summary -->
        </div><!-- /.card-header -->

        <div class="card-body">
          <ul class="list-group list-group-flush project-technology">
            <li class="list-group-item">
              Angular, Angular Router, Angular Components, Angular Services, Angular CLI, Firebase, Firebase Authentication Service, AngularFire2, AngularFire Service, RxJS, Observables, TypeScript, node.js, npm, Bootstrap 4, CSS3
            </li>
          </ul>
        </div><!-- /.card-body -->
      </div><!-- /.card -->
    </div><!-- /.col-xs-12 -->
  </div><!-- /.row -->
</div><!-- /.container -->