<div class="container">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- brand -->
    <a class="navbar-brand" href="#">{{ brand }}</a>

    <!-- collapse button -->
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- collapsable navbar menu -->
    <div class="collapse navbar-collapse" id="navbarMenu">
      <!-- navbar menu -->
      <ul class="navbar-nav ml-auto">
        <!-- projects link -->
        <li class="nav-item">
          <a class="nav-link" href="/">Projects</a>
        </li>
        <!-- github link -->
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/brookhutchinson">Github</a>
        </li>
        <!-- linkedin link -->
        <li class="nav-item">
          <a class="nav-link" href="http://www.linkedin.com/pub/brook-hutchinson/6b/308/427/">LinkedIn</a>
        </li>
        <!-- resume link -->
        <li class="nav-item">
          <a class="nav-link" href="resume/resume.doc">Resume</a>
        </li>
        <!-- contact link -->
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div><!-- /.collapse navbar-collapse -->
  </nav>
</div><!-- /.container -->