<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <a href="projects/actors/index.html">Actors Project</a>
          </h3><!-- /.card-title -->

          <div class="card-text project-summary">
            Angular Single Page App that uses an Angular Service, RxJS, an Observable, and a JSON File to populate an Angular Component HTML Template. Angular App consists of one Angular Service and two Angular Components. Each Angular Component uses the Angular Service to get data from a JSON file. Each Angular Component subscribes to the observable response returned from the Angular Service. Each Angular Component uses the *ngFor directive and the actors property to render an unordered list inside each Angular Component HTML Template.
          </div><!-- /.card-text project-summary -->
        </div><!-- /.card-header -->

        <div class="card-body">
          <ul class="list-group list-group-flush project-technology">
            <li class="list-group-item">
              Angular, Angular Components, Angular Services, Angular CLI, RxJS, Observables, TypeScript, node.js, npm, Bootstrap 4, CSS3
            </li>
          </ul>
        </div><!-- /.card-body -->
      </div><!-- /.card -->
    </div><!-- /.col-xs-12 -->
  </div><!-- /.row -->
</div><!-- /.container -->