h3 {
  color: #e3c383;
}
h3 a {
  color: #e3c383;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 26.4px;
}
h3 a:hover {
  color: #fff;
}
hr {
  border-top: 1px solid #000;
  margin-bottom: 0;
  margin-top: 0;
}
li,
td {
  text-align: left;
}
.project-summary {
  color: #fff;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 28.5714px;
}
.project-technology {
  background-color: #000;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  color: #808080;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.card {
  background-color: #000;
  border: 2px solid #808080;
  margin-bottom: 10px;
}
.card-title {
  color: #e3c383;
}
.list-group-item {
  background-color: #000;
  padding-bottom: .50rem;
  padding-top: .50rem;
}