<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <a href="projects/sign-in-landing-page/login.html">Sign In Landing Page</a>
          </h3><!-- /.card-title -->

          <div class="card-text project-summary">
            Sign In Landing Page for a Company Website. Uses the Bootstrap CSS Component Library to incorporate responsive design features. Includes a transition for showing a Sign In Modal Form, Form Placeholders for Username and Password, and links to pages if a user forgets their username or password. Displays one of three rotating background images. Uses CSS Rules and Media Queries to replace the background image based on the device size, position elements on the page, and define colors for elements on the page. When a user refreshes the browser, the page randomly selects one of three background images to use for the background image of the page.
          </div><!-- /.card-text project-summary -->
        </div><!-- /.card-header -->

        <div class="card-body">
          <ul class="list-group list-group-flush project-technology">
            <li class="list-group-item">
              Bootstrap 3, CSS3, CSS Media Queries, Ghost Buttons, JavaScript, jQuery, Placeholder.js
            </li>
          </ul>
        </div><!-- /.card-body -->
      </div><!-- /.card -->
    </div><!-- /.col-xs-12 -->
  </div><!-- /.row -->
</div><!-- /.container -->