<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <a href="projects/firebase-nosql-database/index.html">Firebase Real-Time NoSQL Database Project</a>
          </h3><!-- /.card-title -->

          <div class="card-text project-summary">
            Angular Single Page App that connects to a Firebase NoSQL Database and displays property values inside an Angular HTML Template. Angular App uses Google Firebase Services, a NoSQL Database, the AngularFire2 Module, RxJS, and an Observable Property. The Firebase NoSQL Database contains a collection of 9 items. Each item contains a property name and a property value. An Angular Component uses string interpolation and data binding expresssions to render each of the Firebase Database item values inside the Angular Component HTML Template. Anytime data is changed inside the Firebase NoSQL Database the Firebase NoSQL Database updates the HomeComponent HTML Template in real-time to show the updated data item values.
          </div><!-- /.card-text project-summary -->
        </div><!-- /.card-header -->

        <div class="card-body">
          <ul class="list-group list-group-flush project-technology">
            <li class="list-group-item">
              Angular, Angular Components, Angular CLI, Firebase, Firebase Database Service, AngularFire2, AngularFire Service, FirebaseListObservable, RxJS, Observables, TypeScript, node.js, npm, Bootstrap 4, CSS3
            </li>
          </ul>
        </div><!-- /.card-body -->
      </div><!-- /.card -->
    </div><!-- /.col-xs-12 -->
  </div><!-- /.row -->
</div><!-- /.container -->