<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <a href="projects/questions/index.html">Frequently Asked Questions Project</a>
          </h3><!-- /.card-title -->

          <div class="card-text project-summary">
            Angular Single Page App that displays a list of questions and answers. Angular App allows a user to add, edit, or delete a question/answer pair from the list of questions and answers. A user enters a question and answer and then behind the scenes the Angular App uses an Angular Service and Local Storage to store question/answer pairs.
          </div><!-- /.card-text project-summary -->
        </div><!-- /.card-header -->

        <div class="card-body">
          <ul class="list-group list-group-flush project-technology">
            <li class="list-group-item">
              Angular, Angular Components, Angular Services, Angular Directives, Angular 2-Way Data Binding, Angular Inputs, Angular Outputs, Angular CLI, Local Storage, TypeScript, TypeScript Models, node.js, npm, Bootstrap 4, CSS3
            </li>
          </ul>
        </div><!-- /.card-body -->
      </div><!-- /.card -->
    </div><!-- /.col-xs-12 -->
  </div><!-- /.row -->
</div><!-- /.container -->