<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <a href="projects/angular-router/index.html">Angular Router Project</a>
          </h3><!-- /.card-title -->

          <div class="card-text project-summary">
            Angular Single Page App that uses the Angular Router and a Navbar Component to allow the user to navigate between two Angular Component Views. Angular App consists of multiple Angular Components. The Navbar Component and the Jumbotron Component each contain properties that are rendered inside HTML Templates using string interpolation and data binding expressions. A user can click a menu item link inside the Navbar Component to navigate to either the Home Component HTML Template or About Component HTML Template.
          </div><!-- /.card-text project-summary -->
        </div><!-- /.card-header -->

        <div class="card-body">
          <ul class="list-group list-group-flush project-technology">
            <li class="list-group-item">
              Angular, Angular Router, Angular Components, Angular CLI, TypeScript, node.js, npm, Bootstrap 4, CSS3
            </li>
          </ul>
        </div><!-- /.card-body -->
      </div><!-- /.card -->
    </div><!-- /.col-xs-12 -->
  </div><!-- /.row -->
</div><!-- /.container -->