<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <a href="projects/angular-template-driven-forms/index.html">Angular Template-Driven Forms Project</a>
          </h3><!-- /.card-title -->

          <div class="card-text project-summary">
            Angular Single Page App that allows a user to enter information about a book into a form. Each form input control has different user validation rules. Title is required and must be between 5 and 30 characters long. Author is required. URL is required and must be a valid URL beginning with either http:// or https://  Uses Angular Template-Driven Forms, Angular Form Template Variables, the ngModel Angular directive, and HTML5 validation attributes to check the user entered values and determine whether to show an alert message to the user. Uses Angular Form-Specific CSS Classes to tell the user if the form input control value is a valid value by changing the color of the left border of the form input control. A green border means a valid value. A red border means an invalid value. Uses Angular 2-Way Data Binding to show the TypeScript Model Object property values at the bottom of the HTML Template.
          </div><!-- /.card-text project-summary -->
        </div><!-- /.card-header -->

        <div class="card-body">
          <ul class="list-group list-group-flush project-technology">
            <li class="list-group-item">
              Angular, Angular Components, Angular Directives, Angular 2-Way Data Binding, Angular Forms, Angular Template-Driven Forms, Angular Form Template Variables, Angular Form-Specific CSS Classes, Angular CLI, HTML5 Form Validation Attributes, TypeScript, TypeScript Models, JSON, node.js, npm, Bootstrap 4, CSS3
            </li>
          </ul>
        </div><!-- /.card-body -->
      </div><!-- /.card -->
    </div><!-- /.col-xs-12 -->
  </div><!-- /.row -->
</div><!-- /.container -->